<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.careertuner.companyanalysis.mapper.CompanyAnalysisMapper">

    <delete id="deleteCompanyAnalysesByCaseId">
        DELETE FROM company_analysis
        WHERE application_case_id = #{applicationCaseId}
    </delete>

    <insert id="insertCompanyAnalysis" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO company_analysis
            (application_case_id, company_summary, recent_issues, industry,
             competitors, interview_points, sources)
        VALUES
            (#{applicationCaseId}, #{companySummary}, #{recentIssues}, #{industry},
             #{competitors}, #{interviewPoints}, #{sources})
    </insert>

    <select id="findLatestCompanyAnalysisByCaseId" resultType="com.careertuner.companyanalysis.domain.CompanyAnalysis">
        SELECT *
        FROM company_analysis
        WHERE application_case_id = #{applicationCaseId}
        ORDER BY id DESC
        LIMIT 1
    </select>
</mapper>
